################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordPressUWP/obj
/WordPressUWP/bin
*.suo
/WordPressUWPApp/.vs
/WordPressUWPTestApp/obj/x86/Debug
/WordPressUWPTestApp/bin/x86/Debug
/WordPressUWPApp/bin/x86/Debug
/WordPressUWPApp/obj
WordPressUWPApp/Utility/ApiCredentials.cs
WordPressUWPTestApp/Utility/ApiCredentials.cs
/WordPressUWPApp/bin/ARM/Debug
/WordPressUWPTestApp/obj/ARM/Debug
WordPressUWPApp/project.lock.json
WordPressUWPApp/WordPressUWPApp.nuget.props
WordPressUWPApp/bin/
.vs/
