################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordPressUWP/obj
/WordPressUWP/bin
*.suo
