################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordPressUWP/obj
/WordPressUWP/bin
*.suo
/WordPressUWP/.vs/config/applicationhost.config
/WordPressUWPTestApp/obj/x86/Debug
/WordPressUWPTestApp/bin/x86/Debug
/WordPressUWPApp/bin/x86/Debug
/WordPressUWPApp/obj
WordPressUWPApp/Utility/ApiCredentials.cs
WordPressUWPTestApp/Utility/ApiCredentials.cs
