body {
    max-width:700px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
}

p img {
    max-width: calc(100% + 30px);
    height: auto;
    margin-left: calc(-15px);
    margin-right: calc(-15px);
}

img#featured {
    width: calc(100% + 30px);
    margin-left: calc(-15px);
    margin-right: calc(-15px);
}

iframe {
    width: calc(100% + 30px);
    margin-left: calc(-15px);
    margin-right: calc(-15px);
}
