body {
    max-width:700px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 15px 10px 15px;
    box-sizing: border-box;
}

div[id^="attachment"] {
    max-width: calc(100% + 30px) !important;
}


img {
    max-width: calc(100% + 30px) !important;
    height: auto;
    margin-left: calc(-15px);
    margin-right: calc(-15px);
}

img#featured {
    width: calc(100% + 30px) !important;
    margin-left: calc(-15px);
    margin-right: calc(-15px);
}

h1 {
    font-weight: lighter;
}

#postmeta {
    font-style: italic;
}

iframe {
    width: calc(100% + 30px);
    margin-left: calc(-15px);
    margin-right: calc(-15px);
}

@media (max-width: 639px) {
    img {
        width: calc(100% + 25px);
        margin-left: calc(-15px);
        margin-right: calc(-15px);
    }
}

/*custom plugin styles */

.wpappbox {
    width: 100%;
    display: block;
}

.wpappbox img {
    float:left;
    display: inline-block;
    margin-left: 12px;
}

.applinks {
    display: block;
    width: 100%;
}